@font-face {
    font-family: 'Roc Grotesk ExtraWide ExtraBold';
    src: url('../fonts/roc-grotesk-extrawide-extrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Roc Grotesk Wide Bold';
    src: url('../fonts/roc-grotesk-wide-bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Corporate S Medium';
    src: url('./fonts//corporate-s-medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}


#layout {
    display: flex;
    align-items: center;
    justify-content: center;
}

*, *::before, *::after {
    box-sizing: border-box;
}   

#container {
    background-color: black;
    height: 90vh;
    width: auto;
    border-top: 6px solid #e08b66;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-align: left;
    padding: 5rem;
    padding-top: 7rem;
    padding-bottom: 7rem;
    margin-top: 3rem;
}

#container #title {
    display: flex;
    flex-direction: column;
}

#container #form-title {
    font-family: 'Corporate S Medium', sans-serif;
    color: #e08b66;
    font-weight: 500;
    margin: 0;
    letter-spacing: 0.1rem;
}

#container #form-title2 {
    font-family: 'Roc Grotesk ExtraWide ExtraBold', sans-serif;
    color: white;
    font-size: 2rem;
    margin: 1rem 0 1rem 0;
    line-height: 1;
}

#container #form-title3 {
    font-family: sans-serif;
    color: #55514b;
    margin: 0;
}
#container form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    margin-top: 2rem;
}

#container form label {
    font-family: 'Corporate S Medium', sans-serif;
    color: white;
    letter-spacing: 0.05rem;
}

#container form input {
    background-color: black;
    border: 1px solid #404040;
    border-radius: 2px;
    min-width: 22vw;
    min-height: 6vh;
    margin-top: 0.6rem;
    padding: 1rem;
    color: white;
}

#container button {
    background-color: white;
    color: black;
    font-family: 'Roc Grotesk Wide Bold', sans-serif;
    min-width: 22vw;
    min-height: 6vh;
    margin-top: 3rem;
    cursor: pointer;
}

#form-title4 {
    color: #55514b;
    font-family: sans-serif;
    font-size: 0.9rem;
}

#error {
    height: 6vh;
    min-width: 22vw;
    padding: 0.6rem;
    font-family: sans-serif;
    background-color: rgba(127, 29, 29, 0.2);
    border: 1.5px solid #dc2626;
    display: flex;
    align-items: center;
    border-radius: 0.2rem;
}

#error p {
    color: #f87171;
    font-size: small;
    font-weight: bold;
}