@font-face {
    font-family: 'Roc Grotesk Wide Bold';
    src: url('./fonts/roc-grotesk-wide-bold.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Corporate S Medium';
    src: url('./fonts//corporate-s-medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

#product-container {
    margin: 5% 20%;
}

#product-title-container {
    line-height: 1.1;
    margin-bottom: -5px;
}

#product-subtitle {
    color: #e08b66;
    font-family: 'Corporate S Medium', sans-serif;
    letter-spacing: 0.1rem;
    margin-bottom: 0;
    line-height: 0.3;
}

#product-title {
    color: white;
    font-family: 'Roc Grotesk Wide Bold', sans-serif;
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.1;
}

#product-subsubtitle {
    color: #55514b;
    font-family: sans-serif;
    margin-top: 0;
    line-height: 1.2;
}